<%= javascript_include_tag "balance" %>

<p><%= "#{t('header.balance')}: #{number_to_currency(@actual_balance)}" %></p>
<p><%= "#{t('total_income')}: #{number_to_currency(@total_incomes)}" %></p>
<p><%= "#{t('total_amount')}: #{number_to_currency(@total_expenses)}" %></p>
<div>
  <table class="table">
    <thead>
        <tr>
          <th><%= t('balance.operation') %></th>
          <th><%= t('activerecord.attributes.expense.amount') %></th>
          <th><%= t('activerecord.attributes.expense.execution_date') %></th>
        </tr>
    </thead>
    <tbody id="balance-table">
        <% @day_flag_css = true %>
        <% @balances.each do |balance| %>
           <%= render :partial => "balance/balance", :object => balance %>
        <% end %>
    </tbody>
  </table>
</div>
<div class="display-none">
  <%= will_paginate @balances %>
</div>