<% if @users.empty? %>
  <p>No members</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t 'activerecord.attributes.user.email' %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td>
            <%= link_to image_tag("delete-icon.png"), destroy_user_path(user.id), class: "action-icon visible-phone", data: { confirm: t('confirm_delete') } %>
            <%= link_to add_bootstrap_icon(t('delete'), 'trash'), destroy_user_path(user.id), class: "btn btn-danger hidden-phone", data: { confirm: t('confirm_delete') } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div class="form-actions">
  <%= link_to add_bootstrap_icon(t('add_member'), 'plus'), new_user_path, class: "btn btn-primary" %>
</div>  
