<h2>About</h2>
<p>
  Easy cash planner is an application which helps you handle your home finances.
Using it you are able to control your cash by easily managing the household wallet. You can add new categories, expenses and income. In a simple way you can plan a category by adding the future expenses. You can invite other people (eg, family members), so that all have access to the management of the wallet.
</p>

<p>
  Application was launched in November 2012 by seven Ruby on Rails interns as a project in Fall 2012 internship in Ragnarson company. We focused on simplicity, users comfort and usefulness of product.
</p>

<p>
  Mentors:
  <ul>
    <li><%= link_to 'Michał Kwiatkowski', 'http://github.com/mkwiatkowski' %> (michalk@ragnarson.com)</li>
    <li><%= link_to 'Oskar Szrajer', 'http://github.com/gotar' %> (gotar@ragnarson.com)</li>
  </ul>
</p>

<p>
  Creators:
  <ul>
    <li><%= link_to 'Dawid Milewski', 'http://github.com/c2h5oh-Ruby' %> (dawidmilewski89@gmail.com)</li>
    <li><%= link_to 'Karolina Kruk', 'http://github.com/keysha' %> (karolina.anna.kruk@gmail.com)</li>
    <li><%= link_to 'Maciej Borosiewicz', 'http://github.com/xmbr' %> (m.borosiewicz@gmail.com)</li>
    <li><%= link_to 'Maciej Małecki', 'http://github.com/smt116' %> (smt116@gmail.com)</li>
    <li><%= link_to 'Marcin Brzeziński', 'http://github.com/cintrzyk' %> (marcin.brzezinski.inf@gmail.com)</li>
    <li><%= link_to 'Rafath Khan', 'http://github.com/rafath' %> (rafath@zaraz.pl)</li>
    <li><%= link_to 'Sebastian Wesołowski', 'http://github.com/Weso1ek' %> (seba.wesol@gmail.com)</li>
  </ul>
</p>
