<% unless user_signed_in? %>
  <div class="pagination-centered">
    <hr />
    <h4><%= t('home.welcome') %></h4>
    <p><%= t('home.information') %></p>
    <%= link_to t('home.login'), user_omniauth_authorize_path(:google_oauth2), class: "btn btn-large btn-success" %>
    <hr />
  </div>
<% else %>
  <% if current_user.incomes.empty? %>
    <p class="pagination-centered">
      <%= t('home.specify.income') %>
      <%= link_to t('add_income'), new_income_path, class: "btn btn-primary btn-small" %>
    </p>
  <% end %>
  <% if current_user.wallets.empty? %>
    <p class="pagination-centered">
      <%= t('home.specify.budget') %>
      <%= link_to t('add_budget'), new_wallet_path, class: "btn btn-primary btn-small" %>
    </p>
  <% else %>
    <%= render 'expenses/form' %>
  <% end %>
<% end %>
