<%= simple_form_for @income, url: create_income_path, html: { class: "form-horizontal" } do |f| %>
  <%= f.input :source, label: 'Source of income' %>
  <%= f.input :amount, as: :currency, wrapper: 'append' %>
  <%= f.input :tax, label: 'Tax rate', collection: [18, 23], as: :radio_buttons %>
  <div class="form-actions">
    <%= f.button :submit, 'Add income', class: 'btn btn-primary' %>
  </div>
<% end %>
