<% if @incomes.empty? %>
	<p>No income</p>
<% else %>
	<table class="table table-striped">
		<thead>
		  <tr>
		    <th>Source</th>
		    <th>Amount</th>
		    <th>Tax</th>
		  </tr>
		</thead>
		<tbody>
		  <% @incomes.each do |income| %>
		    <tr>
		      <td><%= income.source %></td>
		      <td><%= income.amount %> pln</td>
		      <td><%= income.tax  %></td>
		    </tr>
		  <% end %>
		</tbody>
	</table>
  <p>
	  Total income: <%= @total %> pln
  </p>
<% end %>
<div class="form-actions">
  <%= link_to "Add new income", new_income_path, class: "btn btn-primary" %>
</div>  

