<div class="form-actions visible-phone">
  <%= link_to add_bootstrap_icon(t('add_income'), 'plus'), new_income_path, class: "btn btn-primary" %>
</div>
<% if @incomes.empty? %>
  <p><%= t('specify.income') %></p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.income.source') %></th>
        <th><%= t('activerecord.attributes.income.amount') %></th>
        <th><%= t('activerecord.attributes.income.tax') %></th>
        <th><%= t('activerecord.attributes.income.net')%></th>
        <th><%= t('activerecord.attributes.income.execution_date') %></th>
        <th><%= t('actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @incomes.each do |income| %>
        <tr>
          <td><%= income.source %></td>
          <td><%= number_to_currency income.amount %> </td>
          <td>
            <% if income.tax %>
              <%= income.tax  %>%
            <% end %>
          </td>
          <td><%= number_to_currency income.net %></td>
          <td>
            <% if !income.execution_date.nil?%>
                <%= l income.execution_date %>
            <% end %>
          </td>
          <td nowrap class="visible-phone">
            <%= link_to add_bootstrap_icon('pencil'), edit_income_path(income), class: "btn btn-primary btn-mini" %>
            <%= link_to add_bootstrap_icon('trash'), income_path(income), method: :delete, class: "btn btn-danger btn-mini", data: { confirm: t('confirm_delete') } %>
          </td>
          <td class="hidden-phone">
            <%= link_to add_bootstrap_icon(t('edit'), 'pencil'), edit_income_path(income), class: "btn btn-primary hidden-phone" %>
            <%= link_to add_bootstrap_icon(t('delete'), 'trash'), income_path(income), method: :delete, class: "btn btn-danger hidden-phone", data: { confirm: t('confirm_delete') } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="hidden-phone">
    <%= will_paginate @expenses %>
  </div>
  <p>
    <%= t('total_income') %>: <%= number_to_currency @total %>
  </p>
  <p>
    <%= t('total_net_profit') %>: <%= number_to_currency @total_net %>
  </p>
<% end %>
<div class="form-actions hidden-phone">
  <%= link_to add_bootstrap_icon(t('add_income'), 'plus'), new_income_path, class: "btn btn-primary" %>
</div>  

