<h1>Listing incomes</h1>

<table id="incomes">
  <tr>
    <th>Source</th>
    <th>Amount</th>
    <th>Tax</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @incomes.each do |income| %>
  <tr id="income">
    <td><%= income.source %></td>
    <td><%= income.amount %></td>
    <td><%= income.tax %></td>
    <td><%= link_to 'Show', income %></td>
    <td><%= link_to 'Edit', edit_income_path(income) %></td>
    <td><%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<b>Total income:</b>
<%= sum_up %>
<br />

<%= link_to 'New Income', new_income_path %>
