<% if @incomes.empty? %>
  <p>No income</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.income.source') %></th>
        <th><%= t('activerecord.attributes.income.amount') %></th>
        <th><%= t('activerecord.attributes.income.tax') %></th>
        <th><%= t('actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @incomes.each do |income| %>
        <tr>
          <td><%= income.source %></td>
          <td><%= number_to_currency income.amount %> </td>
          <td><%= income.tax  %>%</td>
          <td>
            <%= link_to t('edit'), edit_income_path(income), class: "btn btn-primary" %>
            <%= link_to t('delete'), income_path(income), method: :delete, class: "btn btn-danger", data: {confirm: t('confirm_delete')} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="hidden-phone">
    <%= will_paginate @expenses %>
  </div>
  <p>
	  <%= t('total_income') %>: <%= number_to_currency @total %>
  </p>
<% end %>
<div class="form-actions">
  <%= link_to t('add_income'), new_income_path, class: "btn btn-primary" %>
</div>  

