<% if @incomes.empty? %>
	<p>No income</p>
<% else %>
	<table class="table table-striped">
		<thead>
		  <tr>
		    <th>Source</th>
		    <th>Amount</th>
		    <th>Tax</th>
		  </tr>
		</thead>
		<tbody>
		  <% @incomes.each do |income| %>
		    <tr>
		      <td><%= income.source %></td>
		      <td><%= number_to_currency income.amount %></td>
		      <td><%= income.tax  %></td>
		    </tr>
		  <% end %>
		</tbody>
	</table>
<% end %>
<p>
	Total income: <%= number_to_currency @total %>
</p>
<div class="form-actions">
  <%= link_to "Add new income", new_income_path, class: "btn btn-primary" %>
</div>  

