<p>Fields tagged with * are required</p>
<%= simple_form_for @income, :url=> create_income_path, :html => { :class=> "form-horizontal" } do |f| %>

  <div class="control-group">
    <%= f.input :source, :label=> 'Source of income', :class=> 'control-label' %>
    <%= f.input :amount, :wrapper => :prepend, :class => 'inline' do %>
      <%= content_tag :span, '$', :class => 'add-on' %>
      <%= f.input_field :amount, :to => :currency, :style => 'margin-left: -5px;' 'max-width: 185px' %>
    <% end %>
    
    <%= f.input :tax, :class => 'inline'%>
    
    <div class="form-actions">
      <%= f.button :submit, 'Add income', :class=> 'btn btn-primary' %>
    </div>
  </div>
<% end %>
