<%= simple_form_for @wallet, html: { class: "form-horizontal" } do |f| %>
  <%= f.input :name %>
  <%= f.input :amount, as: :currency, wrapper: 'append', wrapper_html: { id: 'wallet_amount' } %>
  <%= f.simple_fields_for :expenses do |builder| %>
    <%= render "expenses/expenses_fields", f: builder %>
  <% end %>
  <div>
    <%= link_to_add_fields t('add_expense'), f, :expenses, 'add_expense_link' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to_add_fields t('plan_wallet'), f, :expenses, 'plan_wallet_link' %>
    <%= link_to I18n.t('back'), :back %>
  </div>
<% end %>
