<%= simple_form_for @wallet, url: create_budget_path, html: {class: "form-horizontal"} do |f| %>
    <%= f.input :name, label: 'Budget name' %>
    <%= f.input :amount, wrapper: :append, wrapper_html: {class: 'budget-amount'} do %>
      <%= f.input_field :amount, as: :currency %>
    <% end %>

    <div id="budget_amount_wrapper"></div>

    <div class="form-actions">
      <%= f.button :submit, 'Add budget', class: 'btn btn-primary' %>
    </div>
<% end %>
