<div class="form-actions visible-phone">
  <%= link_to t('add_wallet'), new_wallet_path, class: "btn btn-primary" %>
</div>
<% unless @wallets.blank? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.wallet.name') %></th>
      <th><%= t('activerecord.attributes.wallet.amount') %></th>
      <th><%= t('actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @wallets.each do |wallet| %>
      <tr>
        <td><%= wallet.name %></td>
        <td><%= number_to_currency wallet.amount %></td>
        <td>
          <%= link_to t('edit'), edit_wallet_path(wallet), class: "btn btn-primary" %>
          <%= link_to t('delete'), wallet_confirm_destroy_path(wallet), class: "btn btn-danger", data: {confirm: t('confirm_delete')} %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<div class="form-actions">
  <%= link_to t('add_wallet'), new_wallet_path, class:  "btn btn-primary" %>
</div>