<% unless @wallets.blank? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.wallet.name') %></th>
      <th><%= t('activerecord.attributes.wallet.amount') %></th>
    </tr>
    </thead>
    <tbody>
    <% @wallets.each do |wallet| %>
      <tr>
        <td><%= wallet.name %></td>
        <td><%= number_to_currency wallet.amount %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<div class="form-actions">
  <%= link_to t('add_budget'), new_budget_path, :class => "btn btn-primary" %>
</div>  

