<div class="form-actions visible-phone">
  <%= link_to add_bootstrap_icon(t('add_wallet'), 'plus'), new_wallet_path, class: "btn btn-primary" %>
</div>
<% unless @wallets.blank? %>
  <table id="wallets" class="table table-striped">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.wallet.name') %></th>
      <th><%= t('activerecord.attributes.wallet.amount') %></th>
      <th><%= t('activerecord.attributes.wallet.remaining_amount') %></th>
      <th><%= t('actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @wallets.each do |wallet| %>
      <tr>
        <td><%= wallet.name %></td>
        <td><%= number_to_currency wallet.amount %></td>
        <td><%= number_to_currency wallet.remaining_amount %></td>
        <td nowrap class="visible-phone">
          <%= link_to add_bootstrap_icon('pencil'), edit_wallet_path(wallet), class: "btn btn-primary btn-mini" %>
          <%= link_to add_bootstrap_icon('trash'), wallet_confirm_destroy_path(wallet), class: "btn btn-danger btn-mini", data: { confirm: t('confirm_delete') } %>
        </td>
        <td class="hidden-phone">
          <%= link_to add_bootstrap_icon(t('edit'), 'pencil'), edit_wallet_path(wallet), class: "btn btn-primary hidden-phone" %>
          <%= link_to add_bootstrap_icon(t('delete'), 'trash'), wallet_confirm_destroy_path(wallet), class: "btn btn-danger hidden-phone", data: { confirm: t('confirm_delete') } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<div class="form-actions hidden-phone">
  <%= link_to add_bootstrap_icon(t('add_wallet'), 'plus'), new_wallet_path, class: "btn btn-primary" %>
</div>
