<%= simple_form_for @expense, url: create_expense_path, html: { class: "form-horizontal" } do |f| %>
  <%= f.input :name, label: 'Expense name' %>
  <%= f.input :amount, as: :currency, wrapper: 'append' %>
  <%= f.association :wallet, label: 'Budget', collection: current_user.wallets, include_blank: false %>
  <div class="form-actions">
    <%= f.button :submit, 'Add expense', class: 'btn btn-primary' %>
  </div>
<% end %>
