<%= simple_form_for @expense, url: create_expense_path, html: { class: "form-horizontal" } do |f| %>
  <div class="control-group">
    <%= f.input :name, label: 'Expense name', class: 'control-label' %>
    <%= f.input :amount, wrapper: 'prepend', class: 'inline' do %>
      <%= content_tag :span, '$', class: 'add-on' %>
      <%= f.input_field :amount, style: 'margin-left: -5px;' %>
    <% end %>

    <div class="form-actions">
      <%= button_tag 'Reset', type: 'reset', class: 'btn' %>
      <%= f.button :submit, 'Add expense', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
