<% if @expenses.blank? %>
  <p>No expenses</p>
<% else %>
  <div class="form-actions visible-phone">
    <%= link_to t('add_expense'), new_expense_path, class: "btn btn-primary" %>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.expense.name') %></th>
      <th><%= t('activerecord.attributes.expense.amount') %></th>
      <th><%= t('activerecord.attributes.expense.execution_date') %></th>
      <th class="hidden-phone"><%= t('actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @expenses.each do |expense| %>
      <tr<%= ' class=warning' if expense.execution_date.future? %>>
        <td><%= expense.name %></td>
        <td><%= number_to_currency expense.amount %></td>
        <td><%= l expense.execution_date %> </td>
        <td>
          <%= link_to t('edit'), edit_expense_path(expense), class: "btn btn-primary hidden-phone" %>
          <%= link_to t('delete'), expense_path(expense), method: :delete, class: "btn btn-danger hidden-phone", data: {confirm: t('confirm_delete')} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="hidden-phone">
    <%= will_paginate @expenses %>
  </div>
<% end %>
<div class="form-actions hidden-phone">
  <%= link_to t('add_expense'), new_expense_path, class: "btn btn-primary" %>
</div>
