<%= date_pagination(params[:d]) %>

<% if @expenses.blank? %>
  <p><%= t('specify.expense') %></p>
  <%= link_to add_bootstrap_icon(t('add_expense'), 'plus'), new_expense_path(d: params[:d]), class: "btn btn-primary" %>
<% else %>
  <div class="visible-phone">
    <%= render 'index_phone' %>
  </div>

  <div class="hidden-phone">
    <table id="expenses_table" class="table table-striped tablesorter">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.expense.name') %></th>
          <th><%= t('activerecord.attributes.expense.amount') %></th>
          <th><%= t('activerecord.attributes.expense.execution_date') %></th>
          <th><%= t('actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @expenses.each do |expense| %>
          <tr<%= ' class=warning' if expense.execution_date.future? %>>
            <td><%= expense.name %></td>
            <td><%= number_to_currency expense.amount %></td>
            <td><%= l expense.execution_date %></td>
            <td nowrap>
              <%= link_to add_bootstrap_icon(t('edit'), 'pencil'), edit_expense_path(expense, d: params[:d]), class: "btn btn-primary btn-small" %>
              <%= link_to add_bootstrap_icon(t('delete'), 'trash'), expense_path(expense), method: :delete, class: "btn btn-danger btn-small", data: { confirm: t('confirm_delete') } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="form-actions">
      <%= link_to add_bootstrap_icon(t('add_expense'), 'plus'), new_expense_path(d: params[:d]), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
