<% if @expenses.blank? %>
  <p>No expenses</p>
<% else %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.expense.name') %></th>
      <th><%= t('activerecord.attributes.expense.amount') %></th>
      <th><%= t('activerecord.attributes.expense.execution_date') %></th>
      <th><%= t('actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @expenses.each do |r| %>
      <tr<%= ' class=warning' if r.execution_date.future? %>>
        <td><%= r.name %></td>
        <td><%= number_to_currency r.amount %></td>
        <td><%= l r.execution_date %> </td>
        <td>
          <%= link_to t('edit'), edit_expense_path(r), class: "btn btn-primary" %>
          <%= link_to t('delete'), expense_path(r.id), class: "btn btn-danger", data: {confirm: t('confirm_delete')} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="hidden-phone">
    <%= will_paginate @expenses %>
  </div>
<% end %>
<div class="form-actions">
  <%= link_to t('add_expense'), new_expense_path, class: "btn btn-primary" %>
</div>