<!DOCTYPE html>
<html>
  <%= render 'layouts/head_section' %>
  <body>
    <div class="wrapper">
      <div class="wrapper-inner">
        <%= render 'layouts/menu' unless current_user.nil? %>
        <article class="container">
          <div class="row">
            <div class="span12">
              <div class="row">
                <div class="container">
                  <% flash.each do |name, msg| %>
                  <div class='alert alert-<%= name == :notice ? "success" : "error" %> fade in'>
                    <%= msg %>
                    <button type="button" class="close" data-dismiss="alert">×</button>
                  </div>
                  <% end %>
                </div>
                <%= yield %>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="push"></div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>


